<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>All Star 大感謝祭</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src='js/require.js' data-main="js/master.js"></script>
</head>
<style>
	html,body,#main {
		width: 100%;
		height: 100%;
	}
	#main {
		background-image: url('img/background.jpg');
	}

</style>
<body>
	<div id='main'>
	</div>
</body>
</html>
